@use "../../../../styles/variables" as *;

.empty-state {
  text-align: center;
  padding: $padding-large;

  &__image {
    max-width: 200px;
    margin-bottom: 16px;
  }

  &__message {
    font-size: 18px;
  }
}
