@use "../../../../styles/variables" as *;

.app-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navbar-background-color;
  padding: 0 16px;
  height: $header-height;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);

  &__logo {
    width: auto;
    height: 40px;
    cursor: pointer;
  }

  &__center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    font-size: 18px;
    font-weight: bold;

    * > a {
      text-decoration: none;
      color: $text-color;
    }
    &.active {
      color: $primary-color;
    }
  }
}
