@let event = event$ | async;

@if (event) {

<app-button label="Back to Events" color="ghost" (click)="onBack()"></app-button>

<h2 class="event-detail__title">{{ event.event.title + " - " + event.event.subtitle}}</h2>
<div class="event-detail__content">
    <section class="event-detail__sessions-list">
        <h3>Sesiones</h3>
        @for (session of event.sessions | orderBy: 'date'; track $index) {
        <div class="event-detail__sessions-item">
            <p>Fecha: {{ session.date | date: 'dd/MM/yyyy' }} - Disponibilidad: {{ session.availability }}</p>

            <div class="event-detail__sessions-item--controls">
                <button (click)="decreaseSelection(session, event)"
                    [disabled]="isDecreaseDisabled(event.event.id, session.date)">
                    -
                </button>
                <span>{{ getSelectedQuantity(event.event.id, session.date) }}</span>
                <button (click)="increaseSelection(session, event)"
                    [disabled]="isIncreaseDisabled(event.event.id, session.date, session.availability)">
                    +
                </button>
            </div>

        </div>
        }
    </section>

    <app-shopping-cart [cartItems]="(cartItems$ | async) || undefined"
        (removeSession)="removeSession($event.eventId, $event.sessionDate)"></app-shopping-cart>
</div>


} @else {
<app-empty-state>
    Event info not found.
</app-empty-state>
}